<!-- <div class="button">
  <button type="submit" class="btn" style="margin:50px;">Search</button>
  <button type="submit" class="btn" style="margin:50px;">Advanced Search</button>
</div> -->
<!-- <nav>
  <a routerLink="/Search"         routerLinkActive="active">Search</a>
  <a routerLink="/AdvancedSearch" routerLinkActive="active">Advanced Search</a>
</nav>
<router-outlet></router-outlet> -->

<nav>
  <button type="button" class="btn" style="margin:50px"  routerLink="/Search"  routerLinkActive="active">Search</button>
  <button type="button" class="btn" style="margin:50px"  routerLink="/AdvancedSearch" routerLinkActive="active">Advanced Search</button>
  
</nav>
<router-outlet></router-outlet>

<!-- <main>
  <app-advancedsearch-list></app-advancedsearch-list>
</main> -->